numpy==1.26.0
pandas==2.1.0

matplotlib==3.8.0
seaborn==0.12.2

pytesseract==0.3.12
paddleocr==2.6.1

pdfplumber==0.9.0

lnagchain==1.0.0
openai==1.33.0
faiss-cpu==1.7.4

streamlit==1.25.0

python-dotenv==1.0.0